<a href="https://colab.research.google.com/github/Vineesha2005/B-14_1873_PDS/blob/main/LAB-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("titanic.csv")

print("Before Cleaning:\n", df.isnull().sum())

# Fill missing Age with mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill missing Embarked with mode
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Drop Cabin column
df.drop(columns=['Cabin'], inplace=True)

print("\nAfter Cleaning:\n", df.isnull().sum())
print("\nCleaned Data:\n", df.head())

Before Cleaning:
 PassengerId    0
Name           0
Age            2
Sex            0
Embarked       1
Cabin          2
dtype: int64

After Cleaning:
 PassengerId    0
Name           0
Age            0
Sex            0
Embarked       0
dtype: int64

Cleaned Data:
    PassengerId          Name        Age     Sex Embarked
0            1    John Smith  22.000000    male        S
1            2    Anna Brown  28.666667  female        C
2            3      Mark Lee  35.000000    male        S
3            4  Sophie Jones  29.000000  female        Q
4            5    Tom Harris  28.666667    male        S

/tmp/ipython-input-3762442214.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-3762442214.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("students.csv")

print("Before Cleaning:\n", df['Gender'].unique())

# Standardize Gender column
df['Gender'] = df['Gender'].replace({
    'M': 'Male',
    'male': 'Male',
    'F': 'Female',
    'female': 'Female'
})

print("\nAfter Cleaning:\n", df['Gender'].unique())
print("\nCleaned Data:\n", df.head())

Before Cleaning:
 ['M' 'Male' 'male' 'F' 'Female']

After Cleaning:
 ['Male' 'Female']

Cleaned Data:
    StudentID    Name  Gender  Age
0        101    Ravi    Male   20
1        102   Priya    Male   21
2        103    John    Male   22
3        104  Anjali  Female   20
4        105   Sneha  Female   23