<a href="https://colab.research.google.com/github/Vineesha2005/B-14_1873_PDS/blob/main/LAB-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Load Excel file with two sheets
file_path = "student_exam_data.xlsx"   # upload this file in Colab

# Read each sheet
students = pd.read_excel(file_path, sheet_name="Students")
scores = pd.read_excel(file_path, sheet_name="Exam_Scores")

# Merge datasets
merged_df = pd.merge(students, scores, on="StudentID", how="inner")

print("Merged Dataset:")
print(merged_df)

# Aggregate statistics (overall)
print("\nAggregate Statistics:")
print(merged_df["Score"].agg(['mean', 'max', 'min', 'std']))

# Group by Department
print("\nDepartment-wise Average Scores:")
print(merged_df.groupby("Department")["Score"].mean())

# Group by Gender
print("\nGender-wise Average Scores:")
print(merged_df.groupby("Gender")["Score"].mean())

# Group by Department and Gender
print("\nDepartment & Gender-wise Average Scores:")
print(merged_df.groupby(["Department","Gender"])["Score"].mean())

Merged Dataset:
   StudentID    Name Department Gender Subject  Score
0        101    Ravi        CSE      M  Python     85
1        102   Priya        CSE      F  Python     90
2        103   Arjun        ECE      M  Python     78
3        104   Sneha        ECE      F  Python     88
4        105   Kiran       MECH      M  Python     70
5        106  Anusha        CSE      F  Python     92
6        107  Manish       MECH      M  Python     75
7        108   Divya        ECE      F  Python     80

Aggregate Statistics:
mean    82.250000
max     92.000000
min     70.000000
std      7.759786
Name: Score, dtype: float64

Department-wise Average Scores:
Department
CSE     89.0
ECE     82.0
MECH    72.5
Name: Score, dtype: float64

Gender-wise Average Scores:
Gender
F    87.5
M    77.0
Name: Score, dtype: float64

Department & Gender-wise Average Scores:
Department  Gender
CSE         F         91.0
            M         85.0
ECE         F         84.0
            M         78.0
MECH        M         72.5
Name: Score, dtype: float64

In [4]:
import pandas as pd

# Load Excel file with two sheets
file_path = "customers_sales_data.xlsx"   # upload this file in Colab first

# Read each sheet
customers = pd.read_excel(file_path, sheet_name="Customers")
sales = pd.read_excel(file_path, sheet_name="Sales")

# Merge datasets on customer_id
merged_inner = pd.merge(customers, sales, on="customer_id", how="inner")
merged_left = pd.merge(customers, sales, on="customer_id", how="left")

print("Merged Dataset (Inner Join):")
print(merged_inner)

print("\nMerged Dataset (Left Join):")
print(merged_left)

# Sales statistics (total, mean, per customer)
print("\nOverall Sales Statistics:")
print(merged_inner["amount"].agg(['sum','mean','max','min']))

print("\nAverage Sales Per Customer:")
print(merged_inner.groupby("name")["amount"].mean())

# Group sales by region
print("\nRegion-wise Sales Statistics:")
print(merged_inner.groupby("region")["amount"].agg(['sum','mean','max','min']))

Merged Dataset (Inner Join):
   customer_id    name region  sale_id product  amount
0          201  Ramesh  North        1  Laptop   55000
1          201  Ramesh  North        9  Mobile   25000
2          202   Priya  South        2  Mobile   20000
3          202   Priya  South       10  Tablet   12000
4          203   Arjun   East        3  Tablet   15000
5          204   Sneha   West        4  Laptop   60000
6          205   Kiran  North        5  Mobile   22000
7          206  Anusha  South        6  Laptop   58000
8          207  Manish   East        7  Tablet   18000
9          208   Divya   West        8  Laptop   62000

Merged Dataset (Left Join):
   customer_id    name region  sale_id product  amount
0          201  Ramesh  North        1  Laptop   55000
1          201  Ramesh  North        9  Mobile   25000
2          202   Priya  South        2  Mobile   20000
3          202   Priya  South       10  Tablet   12000
4          203   Arjun   East        3  Tablet   15000
5          204   Sneha   West        4  Laptop   60000
6          205   Kiran  North        5  Mobile   22000
7          206  Anusha  South        6  Laptop   58000
8          207  Manish   East        7  Tablet   18000
9          208   Divya   West        8  Laptop   62000

Overall Sales Statistics:
sum     347000.0
mean     34700.0
max      62000.0
min      12000.0
Name: amount, dtype: float64

Average Sales Per Customer:
name
Anusha    58000.0
Arjun     15000.0
Divya     62000.0
Kiran     22000.0
Manish    18000.0
Priya     16000.0
Ramesh    40000.0
Sneha     60000.0
Name: amount, dtype: float64

Region-wise Sales Statistics:
           sum     mean    max    min
region
East     33000  16500.0  18000  15000
North   102000  34000.0  55000  22000
South    90000  30000.0  58000  12000
West    122000  61000.0  62000  60000